@font-face {
  font-family: "HSBombaram21-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSBombaram21-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BookkMyungjo-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-family: "HSBombaram21-Regular";
  color: rgb(44, 44, 44);
}

h2,
h3,
h4,
li,
td,
p,
dt,
dd,
a,
span {
  color: rgb(44, 44, 44);
  font-family: "BookkMyungjo-Bd";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* header */
.header {
  z-index: 100;
  background-color: #ffffffcc;
  width: 100%;
  height: 70px;
  position: fixed;
}

/* 고정 nav 시작 */
.nav {
  max-width: 97%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav > a {
  width: 45%;
}
.nav > a > .nav-title {
  font-size: 2rem;
}

.nav > .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  height: 100%;
}

.nav > .nav-menu > li {
  box-sizing: border-box;
  display: table-cell;
  text-align: center;
  padding: 27px 8px;
  position: relative;
}

.nav > .nav-menu > li > a {
  display: block;
  text-align: center;
  transition: all 0.5s;
}

.nav > .nav-menu > li::after {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 1px;
  background: rgba(44, 44, 44, 90%);
  transition: all 0.5s;
}

.nav > .nav-menu > li:hover:after {
  width: 100%;
  left: 0;
}

.nav > .nav-menu > li:hover {
  transition: all 0.5s;
  background-color: #79b1d2cc;
}
.nav > .nav-mobile {
  display: none;
}
/* 고정 nav 끝 */

/* section1 행사 이름 시작 */
.section1-wrap {
  background-image: url(../img/flowers-7813838.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-height: 400px;
  text-align: right;
}

.section1-wrap > .section1-title {
  position: absolute;
  bottom: 18%;
  right: 5%;
}

.section1-wrap > .section1-title > h1 {
  color: white;
  font-size: 4rem;
}

.section1-wrap > .section1-title > h3 {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
}
/* section1 행사 이름 끝 */

/* section2 행사 설명 시작 */
.section2-intro {
  text-align: center;
  height: 100vh;
  background: linear-gradient(white 20%, #fec774cc);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}

.section2-intro > .intro-title h2 {
  font-size: 2rem;
  font-weight: bold;
}

.section2-intro > .intro-title h1 {
  font-size: 4rem;
}

.section2-intro > .intro-title h3 {
  font-size: 1rem;
  color: gray;
  font-weight: lighter;
}

.section2-intro > .intro-descript > table {
  width: 400px;
  font-size: 1rem;
  text-align: left;
  border-collapse: separate;
  border-spacing: 10px 10px;
}

.section2-intro > .intro-descript > table td {
  box-sizing: border-box;
  border-radius: 40px;
}

.section2-intro > .intro-descript > table td:first-child {
  background-color: white;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
}

.section2-intro > .intro-descript > table td:last-child {
  padding-left: 30px;
}

.section2-intro > .intro-descript > table .ticket {
  display: flex;
  align-items: center;
}

.section2-intro > .intro-descript > table .ticket > a {
  font-size: 0.7rem;
  background-color: #fec774cc;
  border-radius: 30px;
  padding: 5px 5px;
  margin-left: 10px;
  transition: all 0.3s;
}

.section2-intro > .intro-descript > table .ticket > a:hover {
  background-color: #636363cc;
  color: white;
  transition: all 0.3s;
}

/* section2 행사 설명 끝 */

/* section3 행사 이미지 시작 */
.section3-gallery {
  width: 80%;
}

.section3-gallery > .gallery-title {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.section3-gallery > .gallery-title > h1 {
  font-size: 3rem;
}

.section3-gallery > .gallery-title > a {
  font-size: 0.8rem;
  background-color: #fec774;
  box-sizing: border-box;
  border-radius: 40px;
  width: 80px;
  height: 30px;
  text-align: center;
  transition: all 0.3s;
}

.section3-gallery > .gallery-title > a:hover {
  background-color: #79b1d2;
  transition: all 0.3s;
}

.section3-gallery > .gallery-title > a:hover > p {
  color: white;
}

.section3-gallery > .gallery-title > a > p {
  padding-top: 9px;
}

.section3-gallery > .gallery-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.section3-gallery > .gallery-wrap > .button-skip-left {
  background-image: url(../img/circle-arrow-left-solid.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.section3-gallery > .gallery-wrap > .gallery-board-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.section3-gallery > .gallery-wrap > .gallery-board-wrap > .gallery-board {
  width: 250px;
  height: 350px;
  background-color: rgb(211, 211, 211);
  border-radius: 40px;
}

.section3-gallery > .gallery-wrap > .button-skip-right {
  background-image: url(../img/circle-arrow-right-solid.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.section3-gallery
  > .gallery-wrap
  > .gallery-board-wrap
  > .gallery-board
  > .img-wrap {
  width: 220px;
  height: 220px;
  overflow: hidden;
  margin: auto;
  border-radius: 30px;
  margin-top: 15px;
}

.section3-gallery
  > .gallery-wrap
  > .gallery-board-wrap
  > .gallery-board
  > .img-wrap
  > .img {
  background-size: cover;
  background-position: center;
  width: 220px;
  height: 220px;
  transition: all 0.3s;
}
/* .gallery-board:hover 상태 scale 변화 애니메이션 */
.section3-gallery
  > .gallery-wrap
  > .gallery-board-wrap
  > .gallery-board:hover
  > .img-wrap
  > .img {
  transform: scale(1.1);
  transition: all 0.3s;
}

/* .gallery-board 이미지 삽입, 수정*/
.section3-gallery
  > .gallery-wrap
  > .gallery-board-wrap
  > .gallery-board:nth-child(1)
  .img {
  background-image: url(../img/plum-blossom-7090274_1920.jpg);
}
.section3-gallery
  > .gallery-wrap
  > .gallery-board-wrap
  > .gallery-board:nth-child(2)
  .img {
  background-image: url(../img/flowers-7098849_1920.jpg);
}
.section3-gallery
  > .gallery-wrap
  > .gallery-board-wrap
  > .gallery-board:nth-child(3)
  .img {
  background-image: url(../img/flowers-7113013_1920.jpg);
}
.section3-gallery
  > .gallery-wrap
  > .gallery-board-wrap
  > .gallery-board:nth-child(4)
  .img {
  background-image: url(../img/plum-blossom-7081403_1920.jpg);
}

.section3-gallery
  > .gallery-wrap
  > .gallery-board-wrap
  > .gallery-board
  > .text-wrap {
  margin: auto;
  margin-top: 20px;
  width: 200px;
}

.section3-gallery
  > .gallery-wrap
  > .gallery-board-wrap
  > .gallery-board
  > .text-wrap
  > p {
  font-size: 0.9rem;
}
/* section3 행사 이미지 끝 */

/* section4 행사 소식 시작 */
.section4-news {
  width: 80%;
  height: 400px;
}

.section4-news > .news-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.section4-news > .news-title > h1 {
  font-size: 3rem;
}

.section4-news > .news-title > a {
  font-size: 0.8rem;
  background-color: #fec774;
  box-sizing: border-box;
  border-radius: 40px;
  width: 80px;
  height: 30px;
  text-align: center;
  transition: all 0.3s;
}

.section4-news > .news-title > a:hover {
  background-color: #79b1d2;
  transition: all 0.3s;
}

.section4-news > .news-title > a:hover > p {
  color: white;
}

.section4-news > .news-title > a > p {
  padding-top: 9px;
}

.section4-news > ul {
  width: 80%;
}

.section4-news > ul > li {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.section4-news > ul > li:last-child {
  border-top: none;
}

.section4-news > ul > li > a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 30px;
}

.section4-news > ul > li > a > .news-date {
  width: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section4-news > ul > li > a > .news-date > dt {
  font-size: 1.7rem;
  color: #2385bd;
}

.section4-news > ul > li > a > .news-date > dd {
  font-size: 1rem;
  padding-top: 5px;
}

.section4-news > ul > li > a > .news-content {
  width: 55%;
  font-size: 1.15rem;
  text-align: left;
  transition: all 0.3s;
}

.section4-news > ul > li > a:hover > .news-content {
  transform: scale(1.05);
  transition: all 0.3s;
}

.section4-news > ul > li > a .news-arrow {
  color: #2385bd;
  width: 33px;
  visibility: hidden;
}

.section4-news > ul > li > a:hover .news-arrow {
  visibility: visible;
}
/* section4 행사 소식 끝 */

/* footer 시작 */
.footer {
  width: 100%;
  height: 150px;
  background-color: rgb(211, 211, 211);
}

.footer > .footer-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 32px 0;
  color: gray;
  font-size: 0.85rem;
}

.footer > .footer-content span {
  border-right: 2px solid gray;
  padding-left: 12px;
  padding-right: 15px;
}

.footer > .footer-content > .footer-info > span:first-child {
  padding-left: 0;
}

.footer > .footer-content > .footer-info > span:last-child {
  border-right: none;
  padding-right: 0;
}

.footer > .footer-content > .footer-contact > span:first-child {
  padding-left: 0;
}

.footer > .footer-content > .footer-contact > span:last-child {
  border-right: none;
  padding-right: 0;
}
/* footer 끝 */

/* TOP 버튼 시작 */
.button-TOP {
  box-sizing: border-box;
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 29.85px 22.28px;
  background-color: #ffffffcc;
  border-radius: 50%;
  transition: all 0.5s;
}

.button-TOP:hover {
  border: 2px solid white;
  background-color: #79b1d2cc;
  color: white;
  font-size: 1.1rem;
  transform: scale(1.1);
  transition: all 0.5s;
}
